.page {
    background-image: url(../../images/background.jpg);
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
}