.to-do__play-button {
    margin-left: 6px;
    background: none;
    background-image: url(../../../images/play.svg);
    background-size: cover;
    width: 1em;
    height: 1em;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    bottom: 1px;
}

.to-do__play-button:hover {
    transition: 1s;
    opacity: 0.8;
}